<h2>List of ratings</h2>

<table>
  <p> Amount of ratings: <%= @ratings.count %>
  <tbody>
      <ul>
        <pre><b>Beer Score User<b></pre>
        <% @ratings.each do |rating| %>
          <pre><%= rating %> &nbsp <%= link_to rating.user.username%></pre>
        <% end %>
      </ul>

  <%= link_to 'new rating', new_rating_path if current_user %>    

  </tbody>
</table>


